*.iml
.gradle
/local.properties
/.idea/
/.kotlin/
/.windsurf/
/.chatcode/
/.qodo/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
*.log
*.py
*.bat
*.sh
# *.md
*.txt
*.png
*.backup
*~
